name: WakaTime Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          
          # Display
          SHOW_TITLE: true
          SHOW_TOTAL: true
          SHOW_TIME: true

          # Clean output
          SHOW_EDITORS: true
          SHOW_OS: false
          SHOW_PROJECTS: false

          # Languages
          SHOW_LANGUAGE: true
          LANG_COUNT: 5

          # Commit
          COMMIT_MESSAGE: "Updated WakaTime stats"
